@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /*------ Colors ------*/
  --color-primary: #cd1818;
  --color-navigation: #252525;
  --color-paragraph: #212529;

  /*------ Sizes ------*/
  --width-search: 496px;
  --width-app: 1200px;
  --height-search: 38px;
  --height-header: 56px;
  --height-nav: 36px;
}


/*============[ Config default ]============*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto",
}

html {
  scroll-behavior: smooth;
}

.product-shadow:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2)
}

.transitionText {
  @apply transition duration-300 ease-linear;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.flexEnd {
  @apply flex items-center justify-end;
}